.page-footer {
  text-align: center;
  color: #fff;
  background-color: #F7F5F8;
  height: auto;
  line-height: normal;
  border-radius: 12px;
  font-size: 14px;
  padding: 8px 0;
  margin-top: auto;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

/*обводка каждой кнопки серым*/
.pagination-wrapper .ant-pagination-item {
  border: 1px solid #e8e8e8; 
  border-radius: 6px;         
  margin: 0 4px;              
}

/*обводка активной кнопки синим*/
.pagination-wrapper .ant-pagination-item-active {
  border-color: #4096ff;    
}