.page-container {
  width: 100%;
  min-height: 100vh;
  background-color: #F7F5F8;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-layout {
  background: transparent;
  max-width: 1335px;
  margin: 0 auto;
  gap: 24px;
  flex: 1;
  width: 100%;
}

.sider-wrapper {
  background: transparent;
  max-width: 240px;
}

.content-layout {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}